@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@font-face {
  font-family: "BADABB";
  src: url(../assets/fonts/BADABB__.TTF);
}
@font-face {
  font-family: "Delmon";
  src: url(../assets/fonts/Delmon\ Delicate.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 22, 22);
}

h1 {
  font-family: "Delmon";
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  color: rgb(255, 255, 255);
  padding: 50px;
}

h2 {
  font-family: "BADABB";
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px 20px;
  background-color: rgb(43, 43, 43);
}

p {
  font-family: "Delmon";
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.carousel-item {
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-color: rgb(255, 255, 255);
}
.carousel-item img {
  width: 100%;
  height: 650px;
}

.main__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  padding: 20px;
}
.main__body iframe {
  width: 100%;
  height: 100%;
}
.main__body img {
  width: 100%;
  height: 100%;
}

.main__video1, .main__video3, .main__video2 {
  grid-column: 1;
  grid-row: 1;
}

.main__imagen1 {
  grid-column: 2;
  grid-row: 1;
}

.main__video2 {
  grid-column: 2;
  grid-row: 2;
}

.main__imagen2 {
  grid-column: 1;
  grid-row: 2;
}

.main__video3 {
  grid-column: 1;
  grid-row: 3;
}

.main__imagen3 {
  grid-column: 2;
  grid-row: 3;
}

/*Animacion Video*/
.main__video1, .main__video3, .main__video2 {
  animation-name: grow;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.navbar {
  background-color: rgb(43, 43, 43);
}

.navbar-collapse {
  flex-grow: initial;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: "BADABB";
  font-weight: lighter;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px 20px;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(109, 109, 109);
  text-decoration: underline;
  font-size: 2.5rem;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video iframe {
  padding-bottom: 10px;
  width: 50%;
  height: 100%;
  aspect-ratio: 16/9;
}
.video p {
  font-family: "Delmon";
  font-style: normal;
  font-weight: lighter;
  font-size: large;
  padding: 20px;
}

.banner {
  display: flex;
  background-color: black;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px;
}
.banner img {
  margin: 0 auto;
  width: 50%;
  height: 200px;
  padding: 20px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 20px;
  padding: 50px;
}

.tarjeta {
  display: grid;
  justify-items: center;
  border: solid 2px rgb(155, 155, 155);
}
.tarjeta img {
  margin: 2px;
  border: solid 2px black;
  width: 100%;
  height: 550px;
}
.tarjeta p {
  font-family: "Delmon";
  font-style: normal;
  font-weight: lighter;
  font-size: medium;
  padding-bottom: 15px;
}
.tarjeta .tarjeta__buttons {
  padding: 20px;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.tarjeta .btn-primary {
  background-color: rgb(68, 68, 68);
  border-color: rgb(255, 255, 255);
}
.tarjeta .btn-primary:hover {
  background-color: rgb(109, 109, 109);
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.box form {
  background-image: url("../assets/images/backgrounds/favpng_viking-norsemen-vector-graphics-old-norse-illustration.png");
  background-position: right center;
  background-repeat: no-repeat;
  width: 50%;
  height: auto;
  padding: 20px;
  border-style: groove;
  border-color: rgb(255, 255, 255);
  border-width: 5px;
  margin: 20px;
}
.box .form-label {
  font-family: "Delmon";
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.box textarea {
  opacity: 0.85;
}
.box .btn-primary {
  background-color: black;
  border-color: rgb(255, 255, 255);
}
.box .btn-primary:hover {
  background-color: rgb(102, 102, 102);
}

#footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  font-family: "Delmon";
  font-weight: bold;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background-image: url("../assets/images/backgrounds/dark-wood-wall.jpg");
  background-size: cover;
  background-repeat: repeat-x;
}
#footer span {
  text-transform: uppercase;
}
#footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
#footer ul a {
  text-align: center;
  font-family: "Delmon";
  font-weight: bold;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 576px) {
  header {
    flex-direction: column;
  }
  header img {
    width: 100px;
    height: 100px;
    background-image: none;
  }
  .navBar {
    justify-content: center;
  }
  .navBar ul li a {
    font-size: 1rem;
  }
  /** imagen de fondo**/
  .indexBody {
    background-image: none;
  }
  /**banner**/
  .banner img {
    height: 100px;
  }
  .video__texto {
    font-size: 0.5rem;
  }
  /**galeria**/
  .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  .tarjeta img {
    height: 300px;
    width: 450px;
  }
  /**formulario**/
  .box {
    flex-direction: row;
  }
  .box form {
    background-image: none;
  }
  /**footer**/
  #footer {
    align-items: center;
    height: 100px;
  }
  #footer span {
    font-size: 1rem;
  }
  #footer img {
    width: 50px;
  }
  .main__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  .carousel-item img {
    width: auto;
    height: 200px;
  }
}

/*# sourceMappingURL=estilos.css.map */
